## Step 1 
### Load data

In [167]:
import pandas as pd 
import pandas_ta as ta
import yfinance as yf 
import numpy as np

In [168]:
inst_historical_data = pd.DataFrame().ta.ticker('aapl')

In [169]:
inst_historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.087893,0.087893,0.087461,0.087461,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2023-07-27 00:00:00-04:00,196.020004,197.199997,192.550003,193.220001,47460200,0.0,0.0
2023-07-28 00:00:00-04:00,194.669998,196.630005,194.139999,195.830002,48291400,0.0,0.0
2023-07-31 00:00:00-04:00,196.059998,196.490005,195.259995,196.449997,38824100,0.0,0.0
2023-08-01 00:00:00-04:00,196.240005,196.729996,195.279999,195.610001,35175100,0.0,0.0
2023-08-02 00:00:00-04:00,195.039993,195.170898,191.852905,192.580002,49656509,0.0,0.0

## Step 2 process data

In [170]:
inst_historical_data.dropna()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.087893,0.087893,0.087461,0.087461,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2023-07-27 00:00:00-04:00,196.020004,197.199997,192.550003,193.220001,47460200,0.0,0.0
2023-07-28 00:00:00-04:00,194.669998,196.630005,194.139999,195.830002,48291400,0.0,0.0
2023-07-31 00:00:00-04:00,196.059998,196.490005,195.259995,196.449997,38824100,0.0,0.0
2023-08-01 00:00:00-04:00,196.240005,196.729996,195.279999,195.610001,35175100,0.0,0.0
2023-08-02 00:00:00-04:00,195.039993,195.170898,191.852905,192.580002,49656509,0.0,0.0

In [171]:
inst_historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.087893,0.087893,0.087461,0.087461,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2023-07-27 00:00:00-04:00,196.020004,197.199997,192.550003,193.220001,47460200,0.0,0.0
2023-07-28 00:00:00-04:00,194.669998,196.630005,194.139999,195.830002,48291400,0.0,0.0
2023-07-31 00:00:00-04:00,196.059998,196.490005,195.259995,196.449997,38824100,0.0,0.0
2023-08-01 00:00:00-04:00,196.240005,196.729996,195.279999,195.610001,35175100,0.0,0.0
2023-08-02 00:00:00-04:00,195.039993,195.170898,191.852905,192.580002,49656509,0.0,0.0

In [172]:
inst_historical_data.ta.strategy('momentum')

39it [00:02, 13.13it/s]

In [173]:
inst_historical_data["Ret"] = inst_historical_data["Close"].pct_change()
inst_historical_data.reset_index(inplace=True)

name = "Ret" 
inst_historical_data["Ret25_i"] = inst_historical_data[name].rolling(25).apply(lambda x: 100 * (np.prod(1 + x / 100) - 1))

In [174]:
inst_historical_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,AO_5_34,APO_12_26,...,STOCHRSIk_14_14_3_3,STOCHRSId_14_14_3_3,TRIX_30_9,TRIXs_30_9,TSI_13_25_13,TSIs_13_25_13,UO_7_14_28,WILLR_14,Ret,Ret25_i
0,1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.052170,NaN
2,1980-12-16 00:00:00-05:00,0.087893,0.087893,0.087461,0.087461,105728000,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.073398,NaN
3,1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.024751,NaN
4,1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.028992,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10744,2023-07-27 00:00:00-04:00,196.020004,197.199997,192.550003,193.220001,47460200,0.0,0.0,4.937412,1.989488,...,41.398518,38.109783,0.258551,0.264692,26.911424,30.565373,36.070027,-43.078237,-0.006581,0.050151
10745,2023-07-28 00:00:00-04:00,194.669998,196.630005,194.139999,195.830002,48291400,0.0,0.0,4.916913,2.037949,...,48.126083,44.438930,0.256616,0.263339,27.502083,30.127760,39.110357,-20.636251,0.013508,0.047132
10746,2023-07-31 00:00:00-04:00,196.059998,196.490005,195.259995,196.449997,38824100,0.0,0.0,4.951060,2.166988,...,51.401340,46.975314,0.254809,0.261864,28.338367,29.872132,43.685833,-18.237703,0.003166,0.052012
10747,2023-08-01 00:00:00-04:00,196.240005,196.729996,195.279999,195.610001,35175100,0.0,0.0,5.016794,2.233526,...,57.019393,52.182272,0.252927,0.260240,28.116169,29.621280,45.111678,-30.465092,-0.004276,0.055291
10748,2023-08-02 00:00:00-04:00,195.039993,195.170898,191.852905,192.580002,49656509,0.0,0.0,4.522677,1.834872,...,35.672596,48.031110,0.250477,0.258431,24.760841,28.926932,42.552852,-65.697673,-0.015490,0.024730

In [175]:
#help(ta.momentum)

In [176]:
#ta.Category

## Step 3 calculate indicators

In [177]:
inst_historical_data['sma'] = ta.ema(close =inst_historical_data.Close )

In [178]:
inst_historical_data.ta.rsi( append = True )

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
10744    59.996136
10745    65.442792
10746    66.605926
10747    63.488063
10748    53.719592
Name: RSI_14, Length: 10749, dtype: float64

In [179]:
inst_historical_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,AO_5_34,APO_12_26,...,STOCHRSId_14_14_3_3,TRIX_30_9,TRIXs_30_9,TSI_13_25_13,TSIs_13_25_13,UO_7_14_28,WILLR_14,Ret,Ret25_i,sma
0,1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.052170,NaN,NaN
2,1980-12-16 00:00:00-05:00,0.087893,0.087893,0.087461,0.087461,105728000,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.073398,NaN,NaN
3,1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.024751,NaN,NaN
4,1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.028992,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10744,2023-07-27 00:00:00-04:00,196.020004,197.199997,192.550003,193.220001,47460200,0.0,0.0,4.937412,1.989488,...,38.109783,0.258551,0.264692,26.911424,30.565373,36.070027,-43.078237,-0.006581,0.050151,192.897169
10745,2023-07-28 00:00:00-04:00,194.669998,196.630005,194.139999,195.830002,48291400,0.0,0.0,4.916913,2.037949,...,44.438930,0.256616,0.263339,27.502083,30.127760,39.110357,-20.636251,0.013508,0.047132,193.430412
10746,2023-07-31 00:00:00-04:00,196.059998,196.490005,195.259995,196.449997,38824100,0.0,0.0,4.951060,2.166988,...,46.975314,0.254809,0.261864,28.338367,29.872132,43.685833,-18.237703,0.003166,0.052012,193.979427
10747,2023-08-01 00:00:00-04:00,196.240005,196.729996,195.279999,195.610001,35175100,0.0,0.0,5.016794,2.233526,...,52.182272,0.252927,0.260240,28.116169,29.621280,45.111678,-30.465092,-0.004276,0.055291,194.275895
10748,2023-08-02 00:00:00-04:00,195.039993,195.170898,191.852905,192.580002,49656509,0.0,0.0,4.522677,1.834872,...,48.031110,0.250477,0.258431,24.760841,28.926932,42.552852,-65.697673,-0.015490,0.024730,193.967551

### Create Strategy

####  Custom Strategy

In [180]:
my_strategy  = ta.Strategy(name= 'MyStrategy ' ,ta= [{'kind':'ema'}, {'kind':'ema', 'length':30}])

In [181]:
inst_historical_data.ta.strategy(my_strategy)

In [182]:
inst_historical_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,AO_5_34,APO_12_26,...,TRIXs_30_9,TSI_13_25_13,TSIs_13_25_13,UO_7_14_28,WILLR_14,Ret,Ret25_i,sma,EMA_10,EMA_30
0,1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.052170,NaN,NaN,NaN,NaN
2,1980-12-16 00:00:00-05:00,0.087893,0.087893,0.087461,0.087461,105728000,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.073398,NaN,NaN,NaN,NaN
3,1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.024751,NaN,NaN,NaN,NaN
4,1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.028992,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10744,2023-07-27 00:00:00-04:00,196.020004,197.199997,192.550003,193.220001,47460200,0.0,0.0,4.937412,1.989488,...,0.264692,26.911424,30.565373,36.070027,-43.078237,-0.006581,0.050151,192.897169,192.897169,189.284765
10745,2023-07-28 00:00:00-04:00,194.669998,196.630005,194.139999,195.830002,48291400,0.0,0.0,4.916913,2.037949,...,0.263339,27.502083,30.127760,39.110357,-20.636251,0.013508,0.047132,193.430412,193.430412,189.707039
10746,2023-07-31 00:00:00-04:00,196.059998,196.490005,195.259995,196.449997,38824100,0.0,0.0,4.951060,2.166988,...,0.261864,28.338367,29.872132,43.685833,-18.237703,0.003166,0.052012,193.979427,193.979427,190.142068
10747,2023-08-01 00:00:00-04:00,196.240005,196.729996,195.279999,195.610001,35175100,0.0,0.0,5.016794,2.233526,...,0.260240,28.116169,29.621280,45.111678,-30.465092,-0.004276,0.055291,194.275895,194.275895,190.494838
10748,2023-08-02 00:00:00-04:00,195.039993,195.170898,191.852905,192.580002,49656509,0.0,0.0,4.522677,1.834872,...,0.258431,24.760841,28.926932,42.552852,-65.697673,-0.015490,0.024730,193.967551,193.967551,190.629365

### All Strategies

In [215]:
inst_historical_data.ta.strategy('trend')

14it [00:02,  5.83it/s]

In [216]:
inst_historical_data.shape

(10749, 224)

In [217]:
inst_historical_data.ta.categories

['candles',
 'cycles',
 'momentum',
 'overlap',
 'performance',
 'statistics',
 'trend',
 'volatility',
 'volume']

In [ ]:
inst_historical_data.ta.strategy('momentum')

In [ ]:
ta.Category.keys()

In [ ]:
ta.Category['volume']

In [ ]:
ta.Category['trend']

In [ ]:
ta.Category['momentum']

### Calculate returns

In [218]:
num_rec= 5

In [190]:
df = pd.DataFrame()

In [191]:
import random

In [192]:
random.seed(42)

In [193]:
df['close'] = [random.randint(0,100) for i in range(num_rec)]

In [194]:
df['pred'] = [random.random() for i in range(num_rec)]

In [195]:
df['ret'] =df.close.pct_change()

In [196]:
df['predicted_positions'] = np.where(df.pred>.5, 1,-1)

In [197]:
df['existing_positions'] = df.predicted_positions.shift(1)

In [198]:
df['trades'] =  df.predicted_positions-df.existing_positions.fillna(0)

In [199]:
df['strategy_return']= df.existing_positions*df.ret

In [200]:
df["positions_long_only"]= df["predicted_positions"]
df["positions_long_only"][df["positions_long_only"]==-1]=0

/var/folders/mk/pkqnv_dx053g95zwc3mj01b00000gn/T/ipykernel_12808/3767722078.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["positions_long_only"][df["positions_long_only"]==-1]=0

In [201]:
df['existing_positions_long_only'] = df.positions_long_only.shift(1)

In [202]:
df['strategy_return_long_only']= df.existing_positions_long_only*df.ret

In [203]:
df

,close,pred,ret,predicted_positions,existing_positions,trades,strategy_return,positions_long_only,existing_positions_long_only,strategy_return_long_only
0,81,0.244892,NaN,-1,NaN,-1.0,NaN,0,NaN,NaN
1,14,0.139538,-0.827160,-1,-1.0,0.0,0.827160,0,0.0,-0.00000
2,3,0.102495,-0.785714,-1,-1.0,0.0,0.785714,0,0.0,-0.00000
3,94,0.740668,30.333333,1,-1.0,2.0,-30.333333,1,0.0,0.00000
4,35,0.545367,-0.627660,1,1.0,0.0,-0.627660,1,1.0,-0.62766

### Calculate strategy performance

#### Sharpe ratio

In [214]:
df.ret.mean()/df.ret.std()

0.4519338517534957